body{
    background-color: rgb(144, 187, 202);
}
 
.input{
    
    display: flex;
    margin: 50px;

}
.input1{
    text-align: center;
    height: 35px;
    width: 200px;
   

}
.btn{
    background-color: rgb(85, 73, 223);
    color:  white;
    height: 35px;
    width: 70px;
}
.btn1{
    background-color: rgb(85, 73, 223);
    color:  white;
    height: 35px;
    width: 50px;
}
h1{
     
    color: white;
    background-color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  
}
.div{
 
height:35px;
width: 500px;
border: 1px solid black;
text-align: center;
gap: 5rem;
background-color: beige;
}


.li{
    display: flex;
}

.div1{
    justify-content: center;
    align-items: center;
    display: flex;
}